{$HALFCLOUD_HOSTNAME} {
  encode zstd gzip
  reverse_proxy halfcloud:3000

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options "nosniff"
    X-Frame-Options "DENY"
    Referrer-Policy "same-origin"
    -Server
  }
}
